@import 'tailwindcss';

@theme {
  --color-wall: var(--color-gray-950);

  --color-primary: var(--color-white);
  --color-secondary: var(--color-gray-500);
  --color-accent: var(--color-green-500);

  --color-accent-weak: var(--color-green-600);
  --color-accent-light: var(--color-green-800);
  --color-accent-pale: var(--color-green-950);

  --color-iron: var(--color-gray-700);
  --color-iron-pale: var(--color-gray-900);
}

.outlined-button {
  @apply min-w-36 px-8 py-2 text-center   text-accent border border-accent   transition cursor-pointer outline-none   hover:bg-accent-pale focus:bg-accent-pale active:bg-accent-pale;
}

.filled-button {
  @apply min-w-36 px-8 py-2 text-center   text-wall bg-accent   transition outline-none not-disabled:cursor-pointer   hover:bg-accent-weak focus:bg-accent-weak active:bg-accent-weak disabled:bg-accent-light;
}

.outlined-textarea {
  @apply w-full min-h-28 p-4   border border-iron   transition outline-none resize-none field-sizing-content hover:not-focus:cursor-pointer   placeholder:text-secondary hover:not-focus:bg-iron-pale focus:border-accent active:not-focus:bg-iron-pale;
}
